---
const { path } = Astro.props;
---

<div id="game-container" class="w-full max-w-5xl bg-gray-100 flex items-center justify-center border rounded-lg shadow-md mt-10 mx-auto relative">
  <h1 id="pixel-drawing-title" class="sr-only">Pixel Drawing Game</h1>
  

  <iframe
    id="game-frame"
    src={path}
    title="Pixel Drawing Game"
    aria-label="Embedded Pixel Drawing game"
    aria-labelledby="pixel-drawing-title"
    class="w-full h-[80vh] rounded-lg transition-all duration-300"
    allow="fullscreen; autoplay; gamepad; encrypted-media; clipboard-write"
    allowfullscreen
    webkitallowfullscreen
    mozallowfullscreen
    referrerpolicy="no-referrer"
  ></iframe>
</div>


